<div class="hint" *ngIf="!readOnly && !ready">
    <h1>A sentence will appear for a short duration, you have to <span class="hint-important">memorize the order</span> of the words and position them correctly later on.</h1>
    <button class="btn btn-primary" (click)="initTest()">Ready !</button>
</div>
<div *ngIf="!readOnly && ready && !timeEnded" class="test-timer">
    <h1>{{sentence}}</h1>
    <app-timer (timesUp)="timeEnded=true" [seconds]="displaySeconds" ></app-timer>
</div>
<div *ngIf="readOnly || (ready && timeEnded)" class="test-question">
    <h1 *ngIf="readOnly">{{sentence}}</h1>
    <div class="keywords-placeholder">
        <ng-container *ngFor="let word of selectedOrder; let idx=index">
            <div [ngStyle]="{'color':getCorrectionColor(idx)}" class="keyword-placeholder" (click)="onSelectedKWBtnClick(idx)" >
                {{word.text}}
            </div>
        </ng-container>
    </div>
    <div class="keywords-btns-container">
        <ng-container *ngFor="let word of shuffledWords; let idx=index">
            <div *ngIf="!word.selected" class="keyword-btn" (click)="onKWBtnClick(idx)">
                {{word.text}}
            </div>
        </ng-container>
    </div>
    <button *ngIf="!readOnly || (readOnly && !isLast)" [ngStyle]="{
        'background-color':isLast?'#49c49b':'#9dc449',
        'opacity':canVisitNext()?'1':'0',
        'pointerEvents':canVisitNext()?'auto':'none'
    }" class="btn btn-primary nextBtn" (click)="saveAndExit()">{{isLast?"Finish test":"Next"}} <i class="fa"
            [ngClass]="{'fa-check':isLast,'fa-arrow-right':!isLast}" aria-hidden="true"></i></button>
    <div *ngIf="readOnly && isLast" class="btns-container">
        <button class="btn btn-secondary" (click)="redirect()">Home</button>
        <button class="btn btn-primary" (click)="toScorePage()">Check Scores</button>
    </div>
</div>