<div class="container-full">
    <div id="particles-js">
    </div>
    <div class="container-head">
        <button class="btn btn-primary" (click)="logout()">
            Logout <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
        <h3>
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{ currUser.email }}
        </h3>
    </div>
    <div class="calender">
        <div *ngFor="let dayDetail of daysProgress; let idx = index" class="calender-card" [ngClass]="{
            disabled: currentDay < idx+1,
            done: currentDay > idx+1,
            current: currentDay == idx+1
        }"
        (click)="cardClicked(idx+1)">
            <h4 class="title">{{ idx+1 < 9 ? "0" + (idx + 1) : idx + 1 }}</h4>
            <div class="body">
                <div class="difficulty-container">
                    <div class="dif-bar" *ngFor="let diff of dayDetail.difficulty"></div>
                </div>
                <div class="grade-container">
                    <p *ngIf="currentDay>=idx+1" class="{{dayDetail.grade?dayDetail.grade:''}}">{{dayDetail.grade?dayDetail.grade:'Pending'}}</p>
                    <p *ngIf="currentDay<idx+1">Pending</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-question-container" *ngIf="displayModal">
    <div class="modal-question"> 
        <h1>Take today's test ?</h1>
        <button class="btn btn-secondary" (click)="displayModal=!displayModal">Later</button>
        <button class="btn btn-primary" (click)="initNewTest()">Yes!</button>
    </div>
</div>