.container-full{
    width: 100%;
    height: 100%;
    /* background-color: #181818; */
}
.container-head{
    width: 100%;
    height: 60px;
    background-color: #46006c;
    .btn{
        background: transparent;
        border: 2px solid white;
        height: 50px;
        margin: 5px;
        font-size: 1.1rem;
        border-radius: 25px;
        padding: 0 20px;
        font-weight: 300;
        float: right;
    }
    .btn:hover{
        border: 2px solid rgb(117, 246, 105);
        color: rgb(117, 246, 105);
    }
    i{
        margin: 0 5px;
        font-size: 1.3rem;
        position: relative;
        top: 2px;
    }
    h3{
        float: right;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        padding: 20px;
    }
}
.calender{
    width: 900px;
    margin: auto;
    margin-top: 10px;
    .calender-card{
        position: relative;
        overflow: hidden;
        height: 115px;
        width: 147px;
        display: inline-block;
        background: #e9c0ff;
        border: 2px solid white;
        border: 1px solid #2a0040;
        margin: 1.5px;
        margin-top: -5px;
        h4.title{
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 20px;
            margin-left: 10px;
            position: relative;
        }
        h4.title::before{
            content: 'Day';
            font-size: 1rem;
            position: absolute;
            top: -15px;
        }
    }
    .calender-card.done {
        background: #bdffbd;
    }
    .calender-card.done::before {
        content: "Done!";
        position: absolute;
        background: #16a55c;
        transform: rotate(45deg);
        width: 150px;
        text-align: center;
        right: -50px;
        color: wheat;
        top: 10px;
    }
    .calender-card.disabled {
        background: #a99a98;
    }
    .calender-card.current {
        background: #003f6c;
        color: white;
        animation-name: fader;
        animation-duration: 1s;
        animation-iteration-count:infinite
    }
    .calender-card.current::before {
        content: "Current!";
        position: absolute;
        background: #93ff93;
        transform: rotate(45deg);
        width: 150px;
        text-align: center;
        right: -50px;
        color: #6c1a99;
        font-weight: 400;
        top: 10px;
    }
    .calender-card.current::after {
        content: ".";
        position: absolute;
        background: #e3ebe336;
        transform: rotate(45deg);
        width: 450px;
        text-align: center;
        right: -30px;
        color: #6c1a99;
        font-weight: 400;
        top: 0;
        animation-name: lighting-reflection;
        animation-duration: 5s;
        animation-iteration-count:infinite
    }
}

@keyframes lighting-reflection{
    0%{
        right: -350px;
    }
    40%{
        right: 350px;
    }
    100%{
        right: 350px;
    }
}
@keyframes fader{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.02,1.02);
    }
    100%{
        transform: scale(1,1);
    }
}

.dif-bar{
    width: 12.5px;
    height: 15px;
    background-color: rgb(179 179 179);
    display: inline-block;
}

.difficulty-container{
    margin: 15px;
}