<div class="hint" *ngIf="!readOnly && !ready">
    <h1>You will listen to a short text <span class="hint-important">once</span>, you have to <span class="hint-important">understand and memorize the context</span> and select the words that has the same context later on.</h1>
    <button class="btn btn-primary" (click)="initTest()">Ready !</button>
</div>

<div *ngIf="readOnly || ready" class="test-question">
    <button class="speak" [ngStyle]="{'top':readOnly?'75px':'90px'}" (click)="speak()" [disabled]="!readOnly && listened">Speak <i class="fa fa-play-circle" aria-hidden="true"></i></button>
    <div class="keywords-btns-container">
        <ng-container *ngFor="let word of displayedKw; let idx=index">
            <div 
            [ngStyle]="{
                'color':getCorrectionColor(word.text),
                'borderColor':getCorrectionColor(word.text)
            }"
            [ngClass]="{
                'unselected':!word.selected
            }" class="keyword-btn" (click)="onKWBtnClick(idx)">
                {{word.text}}
            </div>
        </ng-container>
    </div>
    <button *ngIf="!readOnly || (readOnly && !isLast)" [ngStyle]="{
        'background-color':isLast?'#49c49b':'#9dc449',
        'opacity':canVisitNext()?'1':'0',
        'pointerEvents':canVisitNext()?'auto':'none'
    }" class="btn btn-primary nextBtn" (click)="saveAndExit()">{{isLast?"Finish test":"Next"}} <i class="fa"
            [ngClass]="{'fa-check':isLast,'fa-arrow-right':!isLast}" aria-hidden="true"></i></button>
    <div *ngIf="readOnly && isLast" class="btns-container">
        <button class="btn btn-secondary" (click)="redirect()">Home</button>
        <button class="btn btn-primary" (click)="toScorePage()">Check Scores</button>
    </div>
</div>