.container{
    height: 100%;
    width: 350px;
    box-sizing: border-box;
    padding: 150px 0;
}
.wrapper-full {
    height: 100vh;
    width: 100vw;
}
h4 {
    color: white;
    font-size: 3rem;
    margin-bottom: 1rem;
}
input{
    cursor: pointer;
    display: block;
    font-size: 1rem;
    color: white;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: 0px 0px 3px transparent;
    font-weight: 600;
    outline: none;
    width: 100%;
    height: 50px;
    transition: 0.5s;
    margin: 2.5px 0;
    padding: 5px 20px;
    border-radius: 1rem;
    &:focus,
    &:hover{
        color: white;
        background-color: transparent;
        border: 2px solid #19d655 !important;
        box-shadow: 0px 0px 3px #2be728;
    }
}
.btn {
    box-sizing: border-box;
    width: 60%;
    display: block;
    margin: auto;
    height: 50px;
    border-radius: 30px;
    color: #181818;
    font-weight: 600;
    background: white;
    margin-top: 1rem;
    margin-top: 5px;
    border: none;
    font-size: 1.2rem;
}
.btn:disabled{
    opacity: 0.3;
}

.invalid-feedback {
    display: block;
    color: #f7b572;
    padding-left: 15px;
    font-size: 0.7rem;
    margin: 0;
    position: relative;
    top: -3px;
}

.btn.secondary{
    background: transparent;
    color: white;
    height: auto;
    padding: 0;
    margin-top: 0;
    border-bottom: 1px solid white;
    font-size: 0.75rem;
    border-radius: 0;
    opacity: 0.7;
    width: auto;
}
.btn.secondary:hover{
    opacity: 1;
}