.review-container-inner {
    height: 100%;
    width: 100%;
    padding: 30px;
}

.review-step-morph {
    width: 100%;
    margin-top: 30px;
    height: calc(100% - 50px);
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
}

.btns-container {
    margin-top: 55px;

    button:hover {
        background: #b6dc64;
    }

    button {
        padding: 10px;
        width: 30%;
        background: #9dc449;
        color: #262626;
        font-size: 20px;
        font-weight: 500;
        border: none;
        border-radius: 15px;
        transition: 0.5s;
    }

    .btn-secondary:hover {
        background-color: #61deb5;
    }

    .btn-secondary {
        background-color: #49c49b;
        float: left;
    }

    .btn-primary {
        float: right;
    }
}

.score-circle-container {
    width: 40%;
    display: inline-block;
    position: relative;
    margin: auto;
    margin-top: 60px;
    vertical-align: top;

    h2 {
        margin-top: 15px;
        color: white;
        font-size: 1.1rem;
        text-align: center;
    }

    h1 {
        position: absolute;
        left: 35px;
        top: 16px;
        color: white;
        font-size: 4rem;
        transform: rotate(-6deg);
    }

    h1.the100 {
        position: absolute;
        top: 90px;
        left: 52px;
    }

    .separator {
        position: absolute;
        left: 42px;
        top: 95px;
        height: 3px;
        display: block;
        width: 100px;
        transform: rotate(-5deg);
        background-color: #96c928;
    }

    .scoreCircle {
        position: relative;
        border-radius: 50%;
        border: 5px solid #96c928;
        height: 200px;
        width: 200px;
        margin: auto;
    }
}

.scores-bars-container {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
}
:host ::ng-deep .button.speak{
    top:75px
}
.successHint{
    position: absolute;
    top: -40px;
    transform: rotate(320deg);
    font-size: 40px !important;
}

.outer-btns-container{
    position: absolute;
    left: 270px;
    top: -20px;
    button{
        width: 105px;
        border: none;
        color: #262626;
        font-weight: 500;
        border-radius: 15px;
    }
    .standAlone{
        width: 210px !important;
        border-radius: 15px !important;
    }
    .tansitionBtn{
        color: white !important;
        background-color: white !important;
    }
    button:first-of-type{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: #49c49b;
    }
    button:last-of-type{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #f44336;
    }
}
.modal-question {
    position: fixed;
    z-index: 99;
    top: calc((100vh - 250px) / 2);
    left: calc((100vw - 570px) / 2);
    height: 125px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px #1a1919;
    width: 570px;
    background: #282828;
    color: white;
}
.modal-question button {
    bottom: 10px;
}