html {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#notification-container .notification {
    display: block;
    position: absolute;
    width: 230px;
    top: -150px;
    right: 20px;
    opacity: 0.8;
    border-radius: 15px;
    animation-name: slideinTop;
    animation-duration: 0.85s;
    animation-fill-mode: forwards;
    padding: 10px 20px;
}

#notification-container {
    .notification.error {
        background: #ff7466;
    }

    .notification.success {
        background: #66ff80;
    }

    .notification.warning {
        background: #ffec66;
    }

    .notification {
        p.body {
            font-size: 0.85rem;
            margin-bottom: 5px;
        }

        h3.title {
            font-size: 1.3rem;
            font-weight: 400;
        }

        .btn {
            position: absolute;
            top: 5px;
            right: 10px;
            padding: 0;
            font-size: 1rem;
        }
    }
}

#particles-js {
    z-index: -1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: inherit;
    background-color: #181818;
}

.modal-question-container::before{
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-question{
    position: fixed;
    z-index: 99;
    top: calc((100vh - 250px) / 2);
    left: calc((100vw - 300px) / 2);
    height: 100px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    width: 300px;
    background: #383838;
    color: white;
    h1{
        font-size: 1.3rem;
        font-weight: 300;
    }
    button{
        float: right;
        position: relative;
        bottom: -10px;
        height: 30px;
        padding: 1px 15px;
        border-radius: 10px;
        margin-left: 5px;
        border: none;
    }
    .btn-secondary{
        background-color: #e74d4d;
    }
    .btn-secondary:hover{
        background-color: #ee6363;
    }
    .btn-primary{
        background-color: #5ea95e;
    }
    .btn-primary:hover{
        background-color: #77c377;
    }
}

@keyframes slideinTop {
    from {
        top: -150px;
    }

    to {
        top: 20px;
    }
}
