html {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #46006c;
}
